<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <%- include("../partials/nav.ejs") %>

    <h1>update</h1>
    <form action="/appointments/<%= appointment._id %>?_method=PUT" method="post">
        <label for="patientName">patient name: </label>
        <input type="text" name="patientName" id="patientName" value="<%= appointment.patientName %>">

        <label for="date">date: </label>
        <input type="date" name="date " id="date" value="<%= appointment.date %>">
        
        <label for="reason">reason: </label>
        <input type="text" name="reason" id="reason" value="<%= appointment.reason %>">

        <label for="doctor">Doctor: </label>
        <select name="doctor" id="doctor">
            <% for( let i = 0; i < doctors.length; i++ ) { %>
                <option value="<%= doctors[i]._id %>"><%= doctors[i].name %></option>
            <% } %>
        </select>
    
        <input type="submit" value="submit">
    </form>
        <a href="/appointments">go back</a>

</body>
</html>